html {
  height: 100%;
  margin: 0;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width:100%;
  background-color: white;
}

p, a {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  text-decoration: none;
  color: #777777;
  font-size: 17px;
  font-family: 'Zilla Slab', Arial, Helvetica, sans-serif ;
}

#about {
  padding-bottom: 50px;
}

#about p {
  line-height: 2;
}

a {
  line-height: 1;
}

h1 {
  font-weight: bold;
  font-size: 5vw;
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  font-family: 'Trade Winds';
}

h2 {
  font-size: 40px;
  font-family: 'Trade Winds';
}

hr {
  border-bottom: 1px dotted white;
  color: white;
}

header {
  background: black url("camping.jpg");
  background-repeat: no-repeat;
  background-size: contain, cover;
  height: 66vw;
}

.name {
  padding-top: 12vw;
  color: white;
}

.shortBio {
  color: rgb(135, 206, 250);
  font-size: 30px;
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
}

.shortBio p, .shortBio a{
  font-size: 24px;
}

.navbar {
  background-color: rgba(42, 42, 42, 0.8);
  position: fixed;
  top: 0px;
  height: 40px;
  width: 100%;
  z-index: 100;
}

nav a {
  font-size: 22px;
  color: white;
  padding: 25px 10px;
  border-right: 1px solid grey;
  font-family: 'Zilla Slab', Arial, Helvetica, sans-serif ;
}

nav a:last-child {
  border: none;
  padding-right: 0;
}

.nav a:hover {
  color: rgb(135, 206, 250);
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.main {
  margin-top: 5%;
  padding: 20px 30px 15px 30px;
}


#about {
  padding-top: 50px;
}

.picContainer {
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
  background-size: cover;
  height: 400px;
  padding-top: 36px;
}

.col-md-6 {
  padding: 10px 40px;
}

.img-fluid {
  width: 100%;
}

#portfolio .img-fluid {
  padding: 30px;
}

.me-pic {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 15px;
  border-radius:5px;
}

#portfolio {
  background-image: url("./assets/images/triangular.png");
}

#portfolio .img-fluid {
  background-color: black;
}

 #portfolio h2 {
  color: white;
  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.portfolioImg {
  width: 100%;
  height: 350px;
}



.picTextTop {
  position: absolute;
  display: block;
  top: 15px;
  left: 0px;
  width: 100%;
  text-align: center;
  background-color: black;
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
}

.picTextBottom {
  position: absolute;
  display: block;
  bottom: 10px;
  left: 0px;
  width: 100%;
  height: 36px;
  text-align: center;
  background-color: black;
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
}

.picTextTop p {
  font-size: 24px;
  color: white;
  margin-bottom: 0;
  font-family: 'Zilla Slab', cursive ;
  border-bottom: 1px dotted white;
}

.picTextBottom a {
  padding: 0px 40px;
  color: white;
  font-family: 'Zilla Slab', cursive ;
}

.btn {
  background-color: rgb(135, 206, 250);
  color: white;
  padding: 5px 25px 5px 25px;
  border: none;
  margin-bottom: 10px;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: 0;
  /* margin-top: 5%; */
  color: white;
}

#contact {
  padding-top: 50px;
}

.contact {
  font-size: 40px;
  color: rgb(135, 206, 250);
  font-family: 'Trade Winds';
  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.contactInfo {
  font-size: 26px;
  color: rgb(135, 206, 250);
  line-height: 2;
}

.contactInfo a {
  font-size: 26px;
  color: white;
  line-height: 2;
}

.contactInfo button {
  border-radius: 5px;
  height: 50px;
  border: 1px solid rgb(135, 206, 250);
  background-color: black;
  color: white;
  padding: 0px 20px;
}

.contactInfo a:hover {
  text-decoration: none;
  color: grey;
  font-style: italic;
}

.contactInfo i:hover {
  color: black;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.contactInfo button:hover {
  background-color: rgb(135, 206, 250);
}

.resume {
  padding: 0px 20px;
}

.social-links i {
  margin: 10px 10px;
  color: rgb(135, 206, 250);
}

.social-links i:hover {
  color: white;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


@media (max-width: 830px) {
  .picTextBottom a {
    padding: 0px 20px;
  }
  .shortBio {
    
    font-size: 20px;
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (max-width: 768px) {
  .container-fluid, .container-fluid .container, .header, .container-fluid .row, .col-md-6, .main {
    margin: 0;
    padding: 0;
  }

  .main {
    margin-top: 50px;
  }


  .picContainer {
    margin-bottom: 20px;
    margin-right:2%;
    margin-left:2%;
  }
}

@media (max-width: 640px) {
  h2, .contact {
    font-size:34px;
  }
  .me-pic {
    width: 40%;
    margin-left:30%;
    margin-right:30%;
  }
  .shortBio {
    
    font-size: 16px;
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 530px) {
.social-links i {
  color: white;
}

h1 {
  font-size: 7vw;
}

.soc-links-top i {
  font-size:20px;
  margin-top: 0px;
}

.picContainer {
  height:350px;
}

.portfolioImg {
  height: 300px;
}

.contactInfo, .contactInfo a {
  font-size:20px;
}

.name {
  padding-top:15vw;
}

.shortBio {
  margin-bottom: 0;
  margin-top:10px;
}
}

@media (max-width: 350px) {
  .navbar {
    
    height: 34px;
  
  }
  
  nav a {
    font-size: 18px;
  }
}